.box-button {
    display: inline-block;
    color: inherit;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(131, 131, 131, 0.25);
    padding: 12px;
    width: 100%;

    &:active {
        box-shadow: inset 0px 1px 4px rgba(131, 131, 131, 0.25);
    }
    &:hover {
        background: #fbfbfb;
    }
}
