.header {
    background: #FBFBFB;
    padding: 0 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 64px;

    &__logo {
        width: 160px;
        margin-right: 32px; // Replace with gap on parent once supported
    }

    &__center {
        width: 912px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__button-area {
        width: 160px;
        margin-left: 32px; // Replace with gap on parent once supported
        background: #FBFBFB;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        > *:not(:first-of-type) {
            margin-left: 32px; // Replace with gap on parent once supported
        }
    }

    &__new-project-button {
        display: inline-block;
        background: #4A83F4;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 10px 18px;
        white-space: nowrap;
    }
}
