.labeled-input {
    &__label {
        font-size: 14px;
        font-weight: bold;
    }
    &__input {
        border-radius: 5px;
        font-size: 14px;
        line-height: 38px;
        padding: 0 12px;
    }
}
